body {
    font-family: 'Raleway';
}

h1 {
    font-family: 'Raleway';
}

h2 {
    font-family: 'Raleway';
}

h3 {
    font-family: 'Raleway';
    line-height: 48.0px;
}

h4 {
    font-family: 'Raleway';
}

h5 {
    font-family: 'Raleway';
}

.button .name {
    font-family: 'Raleway';
}

.top-bar ul li a {
    font-family: 'Raleway' !imporant;
}

.image-wrapper {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.04);
    overflow: hidden;
    position: relative;
    text-align: center;
    border-radius: 4px;
}

.image-overlay-content {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.overlay-fade-in p {
    font-family: 'Raleway';
    color: #f4f4f4;
    font-size: 24px;
    opacity: 0;
    transition: all 0.2s linear;
}

.overlay-fade-in img {
    transition: all 0.2s linear;
}

.overlay-fade-in .image-overlay-content {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.65);
    transition: all 0.4s ease-in-out;
}

.overlay-fade-in h4 {
    font-family: 'Raleway';
    color: #f4f4f4;
    margin-top: 15%;
    font-size: 28px;
    opacity: 0;
    transition: all 0.2s linear;
}

.overlay-fade-in .button {
    font-family: 'Raleway';
    display: inline-block;
    padding: 7px 14px;
    background: #222;
    color: #f4f4f4;
    box-shadow: 0 0 1px #000;
    position: relative;
    border: 1px solid #FFF;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.overlay-fade-in .button:hover {
    box-shadow: 0 0 5px #000;
}

.overlay-fade-in:hover img {
    transform: scale(1.2);
}

.overlay-fade-in:hover .image-overlay-content {
    opacity: 1;
}

.overlay-fade-in:hover h4,
.overlay-fade-in p,
.overlay-fade-in .button {
    opacity: 1;
}

.top-banner {
 background-color: #333333;   
}
.centered {
    text-align: center;
}
